<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/material-dashboard.css" rel="stylesheet" />
    <link href="~/Content/css/material-dashboard-custom.css" rel="stylesheet" />
    <link href="~/Content/css/demo.css" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons" rel="stylesheet" type="text/css">

    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="wrapper">
        @{ Html.RenderPartial("Sidebar"); }
        <div class="main-panel">
            @{ Html.RenderPartial("Header"); }
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            @{ Html.RenderPartial("Footer"); }
        </div>
    </div>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/material.min.js"></script>

    <script src="~/Scripts/chartist.min.js"></script>
    <script src="~/Scripts/bootstrap-notify.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="~/Scripts/material-dashboard.js"></script>
    <script src="~/Scripts/demo.js"></script>
    @*<script type="text/javascript">
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();
        });
    </script>*@
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
